.htaccess
.htaccess.sample
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
LICENSE_EE.html
LICENSE_EE.txt
PATCH-1.14.2.0-1.14.2.4_PHP7-2018-09-14-09-18-37.2_v2
RELEASE_NOTES.txt
api.php
#app/
cron.php
cron.sh
dev/
downloader/
errors/
favicon.ico
get.php
includes/
index.php
index.php.sample
install.php
js/
#lib/
mage
media/
php.ini.sample
pkginfo/
shell/
#skin/
var/